.breadcrumbs
    &-container
        display: flex
        align-items: center
        padding-top: 15px
        padding-bottom: 40px
    &-dec
        margin: 0 10px
    &-item
        color: $gray
        font-size: 10px
        &::after
            background-color: $gray

@media (max-width: 1100px)
    .breadcrumbs
        &-container
            padding-bottom: 30px

@media (max-width: 900px)
    .breadcrumbs
        &-container
            padding-bottom: 25px

@media (max-width: 600px)
    .breadcrumbs
        &-container
            padding-top: 10px
            padding-bottom: 20px