.breadcrumbs
    &-container
        display: flex
        align-items: center
        padding-top: 15px
        padding-bottom: 40px
    &-dec
        margin: 0 10px
    &-item
        color: $gray
        font-size: 10px
        &::after
            background-color: $gray